.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post_header {
  display: flex;
  margin-bottom: 10px;
}

.post_info {
  margin-left: 10px;
}

.post_info > p {
  font-size: 12px;
  color: gray;
}

.post_body {
  overflow-wrap: anywhere;
}

.post_info > h2 {
  font-size: 15px;
}

.post_button {
  display: flex;
  justify-content: space-evenly;
}

.post_button:hover {
  color: black;
}

.post_avatar_img {
  object-fit: cover;
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

.post_avatar_text {
  background-color: grey;
  font-size: 30px;
  color: white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
}
